@import '../util/color-util-project';

@media screen and (max-width: 767px) {
  .header-page {
    border-bottom: 1px solid $border-color;
  }
  .container {
    max-width: 480px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
  }
  .navigation {
    display: flex;
  }
  .navigation__logo {
    display: flex;
    padding: 12px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $second-text-color;
    &-span {
      color: $lead-text-color;
    }
  }
  .navigation__button-open {
    display: flex;
    margin-left: auto;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
  }
  .navigation__button-open-icons {
    width: 50px;
    height: 50px;
  }
  .navigation__button {
    position: absolute;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    color: $second-text-color;
    top: 21px;
    right: 25px;
    padding: 0;
    margin: 0;

    &-icons {
      width: 50px;
      height: 50px;
    }
    &-icons:hover {
      fill: currentColor;
    }
  }
  .navigation__menu-mobile.is-open {
    display: flex;
    z-index: 9;
    overflow: scroll;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: white;
  }
  .navigation__menu-mobile {
    display: none;
  }
  .navigation__menu-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  .navigation__menu-link {
    color: $lead-text-color;
    &:hover {
      color: $second-text-color;
    }
  }
  .navigation__contacts-comp {
    display: none;
  }
  .navigation__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
  }
  .navigation__contacts-item {
    &:last-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $second-text-color;
    }
    &:first-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      margin-top: 32px;
      color: $contacts-text;
    }
  }
  .navigation__contacts-link {
    color: inherit;
  }
  .navigation__contacts-icon {
    display: none;
  }
  .navigation__social-networks {
    display: flex;
    margin-top: 60px;
  }
  .navigation__social-networks-item:not(:first-child) {
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
  .navigation__social-networks-link {
    color: $second-text-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16px;
    letter-spacing: 0.02em;
  }
}
// Таблетка
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-page {
    border-bottom: 1px solid $border-color;
  }
  .container {
    display: flex;
    max-width: 738px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: $second-text-color;
    text-decoration: none;
    border-color: transparent;
    &-span {
      color: $lead-text-color;
    }
  }
  .navigation__menu {
    display: flex;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin: 0;
    margin-left: 93px;
    padding: 0;
    &-item:not(:first-child) {
      margin-left: 50px;
    }
  }
  .navigation__menu-link {
    display: block;
    text-decoration: none;
    color: $lead-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $animation;
    &:focus,
    &:hover {
      color: $second-text-color;
    }
  }
  .navigation__contacts {
    display: none;
  }
  .navigation__contacts-comp {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $contacts-text;
    justify-content: center;
  }
  .navigation__contacts-item:not(:first-child) {
    margin-top: 10px;
  }
  .navigation__contacts-link {
    color: $contacts-text;
    text-decoration: none;
    display: flex;
    transition: color 250ms $animation;
    &:hover,
    &:focus {
      color: $second-text-color;
    }
  }
  .navigation__contacts-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
  .navigation__menu-link--active {
    position: relative;
    color: $second-text-color;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $second-text-color;
    }
  }
  .navigation__button-open {
    display: none;
  }
  .navigation__button {
    display: none;
  }
  .navigation__social-networks {
    display: none;
  }
}

// Компьютерная версия
@media screen and (min-width: 1200px) {
  .navigation__button-open {
    display: none;
  }
  .navigation__button {
    display: none;
  }
  .navigation__social-networks {
    display: none;
  }
  .header-page {
    border-bottom: 1px solid $border-color;
  }
  .container {
    display: flex;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
  }
  // Навигация
  .navigation {
    display: flex;
    align-items: center;
  }
  // Лого
  .navigation__logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: $second-text-color;
    text-decoration: none;
    border-color: transparent;
    &-span {
      color: $lead-text-color;
    }
  }
  // Меню
  .navigation__menu {
    display: flex;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin: 0;
    margin-left: 93px;
    padding: 0;
    &-item:not(:first-child) {
      margin-left: 50px;
    }
  }
  .navigation__menu-link {
    display: block;
    text-decoration: none;
    color: $lead-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $animation;
    &:focus,
    &:hover {
      color: $second-text-color;
    }
  }
  // Контакты
  .navigation__contacts {
    display: none;
  }
  .navigation__contacts-comp {
    display: flex;
    margin-left: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $contacts-text;
    align-items: center;
  }
  .navigation__contacts-item:not(:first-child) {
    margin-left: 50px;
  }
  .navigation__contacts-link {
    color: $contacts-text;
    text-decoration: none;
    padding: 32px 0;
    display: flex;
    transition: color 250ms $animation;
    &:hover,
    &:focus {
      color: $second-text-color;
    }
  }
  .navigation__contacts-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
  // Активное состояние
  .navigation__menu-link--active {
    position: relative;
    color: $second-text-color;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $second-text-color;
    }
  }
}
