// Наша команда
// Мобильная версия
@media screen and (max-width: 767px) {
  .team {
    padding: 60px 0;
    background-color: $filtr;
  }
  .team__title-head {
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $lead-text-color;
  }
  .team__line {
    // display: flex;
  }
  .team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $bg-color;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  .team__images {
    display: block;
    width: 100%;
  }
  .team__block-item {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .team__title {
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $lead-text-color;
  }
  .team__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $contacts-text;
  }
  .team__icon-line {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .team__item-icon:not(:first-child) {
    margin-left: 10px;
  }
  .team__icon-link {
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    padding: 12px 12px;
    color: $icon;
    background-color: $bg-color;
    transition: color 250ms $animation, background-color 250ms $animation;
    &:focus,
    &:hover {
      background-color: $second-text-color;
      color: $bg-color;
      overflow: hidden;
    }
  }
  .team__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    &:focus,
    &:hover {
      fill: currentColor;
    }
  }
}
// Таблетка
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding: 60px 0;
    background-color: $filtr;
  }
  .team__title-head {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $lead-text-color;
  }
  .team__line {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    overflow: hidden;
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(1) {
      margin-bottom: 30px;
    }
    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
  .team__images {
    display: block;
    width: 100%;
  }
  .team__block-item {
    padding: 30px 74px;
    background-color: $bg-color;
  }
  .team__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $lead-text-color;
  }
  .team__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $contacts-text;
    margin-top: 10px;
  }
  .team__icon-line {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .team__item-icon:not(:first-child) {
    margin-left: 10px;
  }
  .team__icon-link {
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    padding: 12px 12px;
    color: $icon;
    background-color: $bg-color;
    transition: color 250ms $animation, background-color 250ms $animation;
    &:focus,
    &:hover {
      background-color: $second-text-color;
      color: $bg-color;
      overflow: hidden;
    }
  }
  .team__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    &:focus,
    &:hover {
      fill: currentColor;
    }
  }
}
// Компьютерная версия
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
    background-color: $filtr;
  }
  .team__title-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $lead-text-color;
  }
  .team__line {
    display: flex;
  }
  .team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    overflow: hidden;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
  .team__images {
    display: block;
  }
  .team__block-item {
    padding: 30px 32px;
    background-color: $bg-color;
  }
  .team__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $lead-text-color;
  }
  .team__text {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $contacts-text;
    margin-top: 10px;
  }
  .team__icon-line {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .team__item-icon:not(:first-child) {
    margin-left: 10px;
  }
  .team__icon-link {
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    padding: 12px 12px;
    color: $icon;
    background-color: $bg-color;
    transition: color 250ms $animation, background-color 250ms $animation;
    &:focus,
    &:hover {
      background-color: $second-text-color;
      color: $bg-color;
      overflow: hidden;
    }
  }
  .team__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    &:focus,
    &:hover {
      fill: currentColor;
    }
  }
}
